body {
    background: url(../img/backgroundtest.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.row {
    padding: 0%;
    margin: 0%;
    width: 100%;
}

.glassmorphism {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

h3 {
    color: #B7F4D5;
}

h4 {
    color: #B7F4D5;
    font-size: 1.1em;

}

#titleBackEnd {
    padding-top: 24px;
}

.logo {
    width: 36px;
    border-radius: 2px;
    /* filter: invert(61%) sepia(94%) saturate(207%) hue-rotate(327deg) brightness(102%) contrast(99%); */
    filter: invert(25%) sepia(10%) saturate(1137%) hue-rotate(357deg) brightness(104%) contrast(98%);
    
}

.burgerColor {
    /* height: 34px !important; */
    /* color: #B7F4D5 !important; */
}

p {
    color: white;
}

.linkStyle {
    color: white;
    text-decoration: none;
}

.linkStyle:hover {
    color: #B7F4D5;
    text-decoration: none;
}

.user-quote {
    font-size: 1 !important;
    text-align: justify;
}

.title-name {
    color: #B7F4D5 !important;
    font-weight: bold;
    font-size: 1.6rem;
}

.background-container {
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.card-text {
    color: rgb(255, 255, 255);
}

.navbar {
    background: rgba(0, 0, 0, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100%;
    /* background-repeat: no-repeat; */
}

.footer {
    background: rgba(0, 0, 0, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar-brand {
    font-size: 1rem !important;
}

.card-container {
    box-shadow: 0 1px 1px 0px black;
    transition: all 0.8s;
    background-color: rgba(0, 0, 0, 0.244);
    border: none;
    border-radius: 6px;
}

.card img {
    transition: all 0.8s;
    opacity: 0.8;
}

.card-container:hover {
    box-shadow: 0 70px 63px -60px black;
    /* transform: rotate(7deg); */
}

.card:hover img {
    /* transform: translate(52%, 40%) scale(2.1); */
}

.card:hover img {
    transform: translate(20%, 20%) scale(1.5);
}

.card:hover .fab {
    opacity: 1;
    color: black;
}

.img-container {
    overflow: hidden;
}

.card {
    overflow: hidden;
}

.fab {
    color: "";
}



.fab:hover {
    color: #000000;
}


.encart {
    padding-left: 24px;
    padding-right: 24px;
}

.titleDev {
    font-size: 1.2rem;
    color: #B7F4D5;
}

.navbar-padding {
    padding-left: 3rem;
}

.quote-section {
    padding-top: 10px;
    width: 100%;
    font-size: 16px;
}

input,
textarea {
    color: rgb(255, 255, 255) !important; 
    /* opacity: 0.4; */
    background-color: #1212126f !important;
    border: none !important;
}

.button-color {
    /* background-color: black !important; */
    /* color: rgb(120, 180, 217) !important; */
    color: #B7F4D5;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.484     );
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.button-color:hover {
    background-color: rgba(0, 0, 0, 1) !important;
    /* color: white !important; */
    color: #B7F4D5;
    border: none;

}

.img-portfolio,
video {
    width: 100% !important;
    height: auto !important;
    border-radius: 6px;

}

.progress-bar {
    /* background-color: rgb(248, 255, 111); */
    /* background-color: #dfff8d; */
    /* background-color: #162BC4; */
    /* background: linear-gradient(to right, #FEAA8D, #fff36f); */
    background: linear-gradient(to right, #4892CA, #162BC4);

    color: black;
}


label {
    color: white;
    padding-bottom: 3px;
}

.resume-list {
    border-left: 2px solid white;
    padding-left: 25px;
    padding-bottom: 50px;
}

.resume-list-title {
    text-transform: uppercase;
}

/* personnalisation des icones de la carte */
.card-icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    top: 230px;

}

.link-icon {
    color: white !important;
}

.material-symbols-outlined1 {
    font-size: 50px;
    color: white;
}

.material-symbols-outlined {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

/* typewritter effect with keyframes */
.typewriter {
    animation-delay: 2s;
    display: inline-block;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; */
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(200, end),
        blink-caret .75s step-end infinite;
}


.sectionSkills {
    padding-top: 24px;
    padding-bottom: 24px;
}

.sectionSkills {
    padding-top: 24px;
    padding-bottom: 24px;
}

.date {
    margin-top: 24px;
}

.greenColor {
    color: #B7F4D5;
}

.section-portfolio {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

@media (min-width: 768px) {
    .user-quote {
        /* padding-right: 40px; */
    }

    .row {
        margin: 0px !important;
    }
}

/* timeline */

.timeline {
    border-left: 3px solid #aaabe9;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    /* background: rgba(114, 124, 245, 0.09); */
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
    margin-bottom: 60px;

}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    /* border-bottom: 1px dashed #e8ebf1; */
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #B7F4D5;
    box-shadow: 0 0 0 3px #B7F4D5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -30.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #B7F4D5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

/* pour les sections qu'on anime */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

/* pour le moment où il est activé */
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.backgroundSetting {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 24px;
    background: #121212;
    border: none;
}

.paddingSetting {
    padding-left: 60px;
    padding-right: 60px;
}

@media (max-width: 767px) {
    body {
        background: url(../img/backgroundMobile3.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }

    .backgroundSetting {
        padding-left: 24px;
        padding-right: 24px;
    }

    .paddingSetting {
        padding-left: 24px;
        padding-right: 24px;
    }

    .card-container:hover {
        box-shadow: 0 70px 63px -60px rgb(255, 255, 255);
        /* transform: rotate(7deg); */
    }
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #B7F4D5;
    border-radius: 10px;
}

.blink_me {
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}