body {
    background: url(../img/background-dev3.png) no-repeat center center fixed;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Roboto;
    color: white;
}

p {
    color: white;
}

.title-name {
    color: rgb(255, 255, 255) !important;
}

.background-container {
    margin-top: 15px
}

.card-text {
    color: black;
}

.navbar {
    /* background-color: #F36A3F !important; */
    background-color: #7b25e4 !important;
    height: 100%;
    background-repeat: no-repeat;


}

.navbar-brand {
    font-size: 1rem !important;
}

.card-container {
    box-shadow: 0 1px 1px 0px black;
    transition: all 0.8s;
}

.card img {
    transition: all 0.8s;
}

.card-container:hover {
    box-shadow: 0 70px 63px -60px #7b25e4;
    /* transform: rotate(7deg); */
}

.card:hover img {
    /* transform: scale(2); */
    transform: translate(52%, 40%) scale(2.1);
}


.img-container {
    overflow: hidden;
}

.card {
    overflow: hidden;
}

.fab {
    color: "";
}

.fab:hover {
    color: #7b25e4;
}


.titleDev {
    font-size: 1.2rem;
    font-weight: 500;
    color: #7b25e4;
}

.navbar-padding {
    padding-left: 3rem;
}

.button-color {
    background-color: #7b25e4 !important;
    border: none;
}

.btn-link {
    color: #f63b02;
}

.progress-bar {
    background-color: #7b25e4 !important;
}

label {
    color: white;
}

.resume-list {
    border-left: 2px solid white;
    padding-left: 25px;
    padding-bottom: 50px;
}

.resume-list-title {
    text-transform: uppercase;
}

/* personnalisation des icones de la carte */
.card-icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    top: 230px;

}

.link-icon {
    color: white !important;
}

.material-symbols-outlined1 {
    font-size: 50px;
    color: white;
}

.material-symbols-outlined {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

/* typewritter effect with keyframes */
.typewriter {
    animation-delay: 2s;
    display: inline-block;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; */
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(200, end),
        blink-caret .75s step-end infinite;
}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

@media (min-width) {

}