body {
    background: url(../img/background-dev4.jpg) no-repeat center center fixed;
    background-size: cover;
    /* backdrop-filter: blur(2px); */
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Roboto;
    color: white;
}

p {
    color: white;
}

.user-quote {
    font-size: 1.1rem !important;
}

.title-name {
    color: rgb(255, 255, 255) !important;
}

.background-container {
    margin-top: 15px
}

.card-text {
    color: black;
}

.navbar {
    /* background-color: #F36A3F !important; */
    background-color: #8c14fc !important;
    height: 100%;
    background-repeat: no-repeat;
}

.navbar-brand {
    font-size: 1rem !important;
}

.card-container {
    box-shadow: 0 1px 1px 0px black;
    transition: all 0.8s;
}

.card img {
    transition: all 0.8s;
}

.card-container:hover {
    box-shadow: 0 70px 63px -60px #8c14fc;
    /* transform: rotate(7deg); */
}

.card:hover img {
    /* transform: scale(2); */
    transform: translate(52%, 40%) scale(2.1);
}


.img-container {
    overflow: hidden;
}

.card {
    overflow: hidden;
}

.fab {
    color: "";
}

.fab:hover {
    color: #8c14fc;
}


.titleDev {
    font-size: 1.2rem;
    font-weight: 500;
    color: #a677df;
}

.navbar-padding {
    padding-left: 3rem;
}

.quote-section {
    padding-top: 10px;
    width: 80%;
}

.button-color {
    background-color: #8c14fc !important;
    border: none;
}

.btn-link {
    color: #f63b02;
}

.progress-bar {
    background-color: #8c14fc !important;
}

label {
    color: white;
}

.resume-list {
    border-left: 2px solid white;
    padding-left: 25px;
    padding-bottom: 50px;
}

.resume-list-title {
    text-transform: uppercase;
}

/* personnalisation des icones de la carte */
.card-icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    top: 230px;

}

.link-icon {
    color: white !important;
}

.material-symbols-outlined1 {
    font-size: 50px;
    color: white;
}

.material-symbols-outlined {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

/* typewritter effect with keyframes */
.typewriter {
    animation-delay: 2s;
    display: inline-block;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; */
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(200, end),
        blink-caret .75s step-end infinite;
}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

@media (min-width) {

}

/* timeline */

.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    /* border-bottom: 1px dashed #e8ebf1; */
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        /* padding-top: 30px; */
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}